<div id="left-cont" class="content">
		<a href=user.php?user=lol>
				<div id=user-resume>
					<div id=profile-img>
						<img src=ptdr>
					</div>
					<div id="user-info">
						<label> PSEUDO </label>
						</br>
						<label> 0 Pictures</label>
						</br>
						<label> 0 Followers</label>
						</br>
						<label> 0 Follows</label>
					</div>
				</div>
			</a>s
			</div>
