<link href="/css/style.css" rel="stylesheet" type="text/css">
<% include parts/visitor-header.ejs %>
<div class="ui yellow center aligned segment" id="connexion-div">
  <i class="warning sign icon"></i>
  La page est introuvable
</div>
