<link href="/css/style.css" rel="stylesheet" type="text/css">
<% include parts/visitor-header.ejs %>
<title>Connexion</title>

<script src="https://maps.google.com/maps/api/js?key=AIzaSyBwgRxtfHhxdYL6XVDQqfRSk_y5yNVffW0" type="text/javascript"></script>
<br>
  <div id="connexion-div">
    <h1>Connexion</h1>
    <div class="form-container">
      <form action="/connexion-back" method="post">
        <div class="field">
          <input class="input-form" type="text" name="username" required>
          <span class="highlight"></span>
          <span class="bar"></span>
          <label class="input-label">Pseudo</label>
        </div>
        <div class="field">
          <input class="input-form" type="password" name="mdp" required>
          <span class="highlight"></span>
          <span class="bar"></span>
          <label class="input-label">Mot de passe</label>
        </div>
        <input type=hidden name=latitude id=latitude value=<%= lat %>>
        <input type=hidden name=longitude id=longitude value=<%= long %>>
        <input type="submit" value="Se connecter" name="connect" class="button" style="vertical-align:middle"></button>
      </form>
      <a href="/forgot-password" type="submit" class="ui blue basic button">Mot de passe oublié </a>
    </div><br>
    <script>
    function maPosition(position){
      document.getElementById("latitude").value = position.coords.latitude;
      document.getElementById("longitude").value = position.coords.longitude;
    }
    if(navigator.geolocation)
    {
      navigator.geolocation.getCurrentPosition(maPosition);
    }
    </script>
    </body>
    </html>
