<link href="/css/style.css" rel="stylesheet" type="text/css">
<% include parts/visitor-header.ejs %>
<form action="/send-mail-forgot" method="post">
  <div class="ui yellow center aligned segment" id="connexion-div">
    <title>Mot de passe oublié</title>
    <div class="field">
      <input class="input-form" type="email" name="emailForgotPassword" required>
      <label class="input-label">Email</label>
    </div>
    <button type="submit" class="ui submit button">Submit</a>
  </div>
</form>
