<link href="/css/style.css" rel="stylesheet" type="text/css">
<% include parts/header.ejs %>
<div class="ui yellow center aligned segment" id="connexion-div">
  <div class="header">Recherche ton duo</div>
  <form action="/search-back" method="post" id="search-form">
  <div class="center aligned">
  <div class="ui fields form">
    <br><br><label>Quel(s) genre(s) recherches tu ? :) </label><br>
    <div class="inline fields middle" style="width:200px; margin:auto">
      <div class="field">
        <div class="ui radio checkbox">
        <input type="checkbox" name="or_h" value=1>
        <label><i class="man icon"></i></label>
        </div>
      </div>
      <div class="field">
        <div class="ui radio checkbox">
        <input type="checkbox" name="or_f" value=1>
        <label><i class="woman icon"></i></label>
        </div>
      </div>
      <div class="field">
        <div class="ui radio checkbox">
        <input type="checkbox" name="or_a" value=1>
        <label><i class="other gender icon"></i></label>
    </div>
  </div>
</div><br>
Ajouter des Tags
<br>
<div class="ui right labeled left icon input">

  <i class="tags icon"></i>
  <input type="text" placeholder="#lainkapete #tuconnaiswankil" name="tags">
  <a class="ui tag label">
    #
  </a>
</div>
<br><br>
Oussa<br>
<div class="ui search inline wide field">
  <input class="prompt center" type="text" name="distMax" placeholder="Nombre de Km max">
  <div class="results"></div>
</div>
Quel popularité sur le site ?<br>
<div class="ui search inline wide field">
  <input class="prompt center" type="text" name="popMin" placeholder="point pop min">
  <div class="results"></div>
</div>
Quel age ?
<div class="fields center" style="width:300px;margin:auto">
<div class="field">
  <input class="prompt center" type="text" name="ageMin" placeholder="15 a nn c tro jeun">
  <div class="results"></div>
</div>
<div class="field">
  <input class="prompt center" type="text" name="ageMax" placeholder="99 j m lé vieu">
  <div class="results"></div>
</div>
</div>
<div class="field compact" style="width:200px;margin:auto">
  Tri par
<select class="ui compact dropdown" form=search-form name=sort>
  <option value="pop">Popularité</option>
  <option value="dist">Distance</option>
  <option value="age">age</option>
</select>
</div>

</div><br>
<input type="submit" class="ui primary button" value="🔍    Rechercher">
</form>
</div>
