link(href="./css/coninslog.css" rel="stylesheet" type="text/css")
title Mot de Passe oublié?

form
	label(for='emailForgotPassword') Envoyé une demande via cet e-mail:
	input(type="email" name='emailForgotPassword' required)
	input(type='submit')
