link(href="./css/user.css" rel="stylesheet" type="text/css")
title Profil

include elements/header.pug
include elements/footer.pug

| HelloWorld
br
| Ceci estun test ... je ne comprends pas pourquoi le footer ne se mets pas bien en place ...
